<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小部件</title>
    <link rel="stylesheet" href="widget.css">
</head>
<body>
<div id="app">
    <div></div>
    <h2>笔记</h2>
    <div class="bjbjbj">
        <main>
            <div class="content">这是一段内容，讲述着一个寻求自由的人的故事。

在这个故事中，主人公名叫艾丽娅。她生活在一个充满限制和束缚的社会中，人们被政府强制执行的规定和禁令所束缚着。个人权利被剥夺，自由被压制，每个人都过着被操控和监视的生活。

然而，艾丽娅内心深处燃烧着对自由的渴望。她不满于现状，不愿被桎梏所束缚。她开始秘密地研究过去的历史，寻找关于人类自由的真相。逐渐地，她发现了一个秘密组织，致力于恢复人们的自由权利。

艾丽娅决定加入这个组织，并且接受了严格的训练，学习独立思考和抵抗操控的技能。她结识了其他志同道合的人们，大家共同奋斗着，试图改变这个被压迫的社会。

他们利用各种技巧和策略，传播真相，唤醒人们的意识。他们使用匿名网络，散发反抗政府的信息，组织秘密集会，组成抵抗小组。每个人都在努力推动自由的进程，用智慧和勇气反抗那些剥夺他们自由的势力。

然而，他们也付出了巨大的代价。政府加大了对异议人士的镇压，他们成为了政府的目标。艾丽娅和她的同伴们面临着被逮捕、监禁甚至处决的危险。

但是，他们并没有放弃。艾丽娅深知自由的重要性，她愿意为了自由而战斗到底。她相信，只要人们团结一心，共同努力，最终自由的曙光将会到来。

在这个故事中，艾丽娅代表着无数渴望自由的人们，她们在黑暗中寻找光明，她们不畏艰险，为了自由而奋斗。他们的故事鼓舞着更多人，唤醒了人们心中的勇气和希望。无论何时何地，人们都应该坚守自由的信念，为了自己和后代的幸福而奋斗。

这段故事还在继续，每个人都可以成为其中的主人公，为自由而努力。因为自由不仅仅是一种权利，更是一种精神，一种追求和向往的生活方式。</div>
        </main>
        <footer>
            <div class="create_time">创建时间</div>
        </footer>
    </div>
    <h2>添加笔记按钮</h2>
    <button type="button" class="anan tjbj"></button>
    <h2>编辑器</h2>
    <div class="bjq">
        <header>
            <textarea class="title" placeholder="标题..." rows="1">
                这是一段内容，讲述着一个寻求自由的人的故事...
            </textarea>
        </header>
        <main>
            <textarea class="content">这是一段内容，讲述着一个寻求自由的人的故事。

在这个故事中，主人公名叫艾丽娅。她生活在一个充满限制和束缚的社会中，人们被政府强制执行的规定和禁令所束缚着。个人权利被剥夺，自由被压制，每个人都过着被操控和监视的生活。

然而，艾丽娅内心深处燃烧着对自由的渴望。她不满于现状，不愿被桎梏所束缚。她开始秘密地研究过去的历史，寻找关于人类自由的真相。逐渐地，她发现了一个秘密组织，致力于恢复人们的自由权利。

艾丽娅决定加入这个组织，并且接受了严格的训练，学习独立思考和抵抗操控的技能。她结识了其他志同道合的人们，大家共同奋斗着，试图改变这个被压迫的社会。

他们利用各种技巧和策略，传播真相，唤醒人们的意识。他们使用匿名网络，散发反抗政府的信息，组织秘密集会，组成抵抗小组。每个人都在努力推动自由的进程，用智慧和勇气反抗那些剥夺他们自由的势力。

然而，他们也付出了巨大的代价。政府加大了对异议人士的镇压，他们成为了政府的目标。艾丽娅和她的同伴们面临着被逮捕、监禁甚至处决的危险。

但是，他们并没有放弃。艾丽娅深知自由的重要性，她愿意为了自由而战斗到底。她相信，只要人们团结一心，共同努力，最终自由的曙光将会到来。

在这个故事中，艾丽娅代表着无数渴望自由的人们，她们在黑暗中寻找光明，她们不畏艰险，为了自由而奋斗。他们的故事鼓舞着更多人，唤醒了人们心中的勇气和希望。无论何时何地，人们都应该坚守自由的信念，为了自己和后代的幸福而奋斗。

这段故事还在继续，每个人都可以成为其中的主人公，为自由而努力。因为自由不仅仅是一种权利，更是一种精神，一种追求和向往的生活方式。
            </textarea>
        </main>
    </div>
    <h2>保存笔记</h2>
    <button type="button" class="anan bcbj"></button>
</div>
<script>
    function autoHeight(element){
        element.style.height = 'auto'
        element.style.height = `${element.scrollHeight}px`;
    }
    document.querySelectorAll('textarea').forEach(e=>{
        e.addEventListener('input', function() {
            autoHeight(this)
        })
        window.addEventListener('load',function() {
            autoHeight(e)
        })
    })
</script>
</body>
</html>